<form class="signup-form" action="{{ site.signup_form_action }}" method="post">
    <h3>{{ site.signup_heading }}</h3>
    <p>{{ site.signup_intro }}</p>
    <div class="signup-row">
        <label class="visually-hidden" for="email">Email address</label>
        <input
            type="email"
            id="email"
            name="email"
            placeholder="{{ site.signup_email_placeholder }}"
            required
        />
        <button class="btn btn-primary" type="submit">
            {{ site.signup_button_label }}
        </button>
    </div>
    <p class="signup-fineprint">{{ site.signup_fineprint }}</p>
</form>
